<a href="https://colab.research.google.com/github/tlsrudwns111/ABCD-A/blob/20250310/%ED%8C%8C%EC%9D%B4%EC%8D%AC_%ED%94%84%EB%A6%B0%ED%84%B0_%ED%95%A8%EC%88%98.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [1]:
print("Hello")
print('Hello', 'everyone')
print('hello', end = '!!!')

Hello
Hello everyone
hello!!!

In [2]:
a = 123
b = 'hello'
print(a,b)
print(a,456,b,'world')

123 hello
123 456 hello world

In [3]:
a = 2
b = 3.14
c = a+b
print(a)
print(b)
print(c)
print (round(c, 2))
print("%.2f"%(c))
print(a+b)
print(a,b,a+b,c)
d = 1e2
e = 1e-2
print(d)
print(e)

2
3.14
5.140000000000001
5.14
5.14
5.140000000000001
2 3.14 5.140000000000001 5.140000000000001
100.0
0.01

In [4]:
item1 = '사과'
price1 = 1000
item2 = '바나나'
price2 = 500
print(item1, price1)
print(item2, price2)

사과 1000
바나나 500

In [5]:
item1 = '사과'
price1 = 1000
item2 = '바나나'
price2 = 500
str1 = '{0}는 {1}원입니다'

print(str1. format(item1, price1))
print(str1. format(item2, price2))

사과는 1000원입니다
바나나는 500원입니다

In [6]:
item1 = '사과'
price1 = 1000
item2 = '바나나'
price2 = 500
str2 = '%s는 %d원입니다'

print(str2%(item1, price1))
print(str2%(item2, price2))

사과는 1000원입니다
바나나는 500원입니다